openapi: 3.0.3
info:
  title: Attio REST Attributes Tasks API
  description: 'The Attio REST API exposes the Attio CRM''s object/attribute/record data model over HTTPS. Attio is an AI-native CRM built on flexible objects (people, companies, deals, users, workspaces, and custom objects), typed attributes, records, and lists. This specification covers the core data-model, activity, collaboration, and platform endpoints: objects, records, attributes, lists, list entries, notes, tasks, comments, threads, webhooks, workspace members, and token identification. All requests are authenticated with a Bearer access token (API key or OAuth) and scoped by granular permissions. Endpoints marked modeled in the repository review were derived from Attio''s published endpoint reference and follow Attio''s documented /v2 path conventions.'
  version: '2.0'
  contact:
    name: Attio
    url: https://attio.com
  license:
    name: Proprietary
    url: https://attio.com/legal
servers:
- url: https://api.attio.com/v2
  description: Attio REST API v2
security:
- bearerAuth: []
tags:
- name: Tasks
  description: Actionable to-dos with deadlines and assignees.
paths:
  /tasks:
    get:
      operationId: listTasks
      tags:
      - Tasks
      summary: List tasks
      description: Lists all tasks.
      responses:
        '200':
          description: A list of tasks.
    post:
      operationId: createTask
      tags:
      - Tasks
      summary: Create a task
      description: Creates a new task.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created task.
  /tasks/{task_id}:
    parameters:
    - name: task_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getTask
      tags:
      - Tasks
      summary: Get a task
      description: Gets a single task by its task_id.
      responses:
        '200':
          description: The requested task.
    patch:
      operationId: updateTask
      tags:
      - Tasks
      summary: Update a task
      description: Updates a task's deadline, completion status, or assignees.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated task.
    delete:
      operationId: deleteTask
      tags:
      - Tasks
      summary: Delete a task
      description: Deletes a task by its task_id.
      responses:
        '200':
          description: The task was deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio access token (API key or OAuth 2.0 bearer token) with the required scopes.
