openapi: 3.0.3
info:
  title: Attio REST Attributes API
  description: 'The Attio REST API exposes the Attio CRM''s object/attribute/record data model over HTTPS. Attio is an AI-native CRM built on flexible objects (people, companies, deals, users, workspaces, and custom objects), typed attributes, records, and lists. This specification covers the core data-model, activity, collaboration, and platform endpoints: objects, records, attributes, lists, list entries, notes, tasks, comments, threads, webhooks, workspace members, and token identification. All requests are authenticated with a Bearer access token (API key or OAuth) and scoped by granular permissions. Endpoints marked modeled in the repository review were derived from Attio''s published endpoint reference and follow Attio''s documented /v2 path conventions.'
  version: '2.0'
  contact:
    name: Attio
    url: https://attio.com
  license:
    name: Proprietary
    url: https://attio.com/legal
servers:
- url: https://api.attio.com/v2
  description: Attio REST API v2
security:
- bearerAuth: []
tags:
- name: Attributes
  description: Typed fields defined on objects and lists, plus select options and statuses.
paths:
  /{target}/{identifier}/attributes:
    parameters:
    - $ref: '#/components/parameters/Target'
    - $ref: '#/components/parameters/Identifier'
    get:
      operationId: listAttributes
      tags:
      - Attributes
      summary: List attributes
      description: Lists all attributes defined on a specific object or list.
      responses:
        '200':
          description: A list of attributes.
    post:
      operationId: createAttribute
      tags:
      - Attributes
      summary: Create an attribute
      description: Creates a new attribute on either an object or a list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created attribute.
  /{target}/{identifier}/attributes/{attribute}:
    parameters:
    - $ref: '#/components/parameters/Target'
    - $ref: '#/components/parameters/Identifier'
    - $ref: '#/components/parameters/Attribute'
    get:
      operationId: getAttribute
      tags:
      - Attributes
      summary: Get an attribute
      description: Gets information about a single attribute on either an object or a list.
      responses:
        '200':
          description: The requested attribute.
    patch:
      operationId: updateAttribute
      tags:
      - Attributes
      summary: Update an attribute
      description: Updates a single attribute on a given object or list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated attribute.
  /{target}/{identifier}/attributes/{attribute}/options:
    parameters:
    - $ref: '#/components/parameters/Target'
    - $ref: '#/components/parameters/Identifier'
    - $ref: '#/components/parameters/Attribute'
    get:
      operationId: listSelectOptions
      tags:
      - Attributes
      summary: List select options
      description: Lists all select options for a particular select-type attribute.
      responses:
        '200':
          description: A list of select options.
    post:
      operationId: createSelectOption
      tags:
      - Attributes
      summary: Create a select option
      description: Adds a new option to a select-type attribute.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created select option.
  /{target}/{identifier}/attributes/{attribute}/statuses:
    parameters:
    - $ref: '#/components/parameters/Target'
    - $ref: '#/components/parameters/Identifier'
    - $ref: '#/components/parameters/Attribute'
    get:
      operationId: listStatuses
      tags:
      - Attributes
      summary: List statuses
      description: Lists all statuses for a particular status-type attribute.
      responses:
        '200':
          description: A list of statuses.
    post:
      operationId: createStatus
      tags:
      - Attributes
      summary: Create a status
      description: Adds a new status to a status-type attribute.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created status.
components:
  parameters:
    Target:
      name: target
      in: path
      required: true
      description: Whether the attribute belongs to an object or a list.
      schema:
        type: string
        enum:
        - objects
        - lists
    Attribute:
      name: attribute
      in: path
      required: true
      description: The attribute ID or slug.
      schema:
        type: string
    Identifier:
      name: identifier
      in: path
      required: true
      description: The ID or slug of the object or list the attribute belongs to.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio access token (API key or OAuth 2.0 bearer token) with the required scopes.
