openapi: 3.0.3
info:
  title: Attio REST Attributes Lists API
  description: 'The Attio REST API exposes the Attio CRM''s object/attribute/record data model over HTTPS. Attio is an AI-native CRM built on flexible objects (people, companies, deals, users, workspaces, and custom objects), typed attributes, records, and lists. This specification covers the core data-model, activity, collaboration, and platform endpoints: objects, records, attributes, lists, list entries, notes, tasks, comments, threads, webhooks, workspace members, and token identification. All requests are authenticated with a Bearer access token (API key or OAuth) and scoped by granular permissions. Endpoints marked modeled in the repository review were derived from Attio''s published endpoint reference and follow Attio''s documented /v2 path conventions.'
  version: '2.0'
  contact:
    name: Attio
    url: https://attio.com
  license:
    name: Proprietary
    url: https://attio.com/legal
servers:
- url: https://api.attio.com/v2
  description: Attio REST API v2
security:
- bearerAuth: []
tags:
- name: Lists
  description: Collections that model a process by referencing records.
paths:
  /lists:
    get:
      operationId: listLists
      tags:
      - Lists
      summary: List all lists
      description: Lists all lists that your access token has access to.
      responses:
        '200':
          description: A list of lists.
    post:
      operationId: createList
      tags:
      - Lists
      summary: Create a list
      description: Creates a new list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created list.
  /lists/{list}:
    parameters:
    - $ref: '#/components/parameters/List'
    get:
      operationId: getList
      tags:
      - Lists
      summary: Get a list
      description: Gets a single list by its ID or slug.
      responses:
        '200':
          description: The requested list.
    patch:
      operationId: updateList
      tags:
      - Lists
      summary: Update a list
      description: Updates an existing list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated list.
components:
  parameters:
    List:
      name: list
      in: path
      required: true
      description: The list ID or slug.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio access token (API key or OAuth 2.0 bearer token) with the required scopes.
