openapi: 3.0.3
info:
  title: Attio REST Attributes Threads API
  description: 'The Attio REST API exposes the Attio CRM''s object/attribute/record data model over HTTPS. Attio is an AI-native CRM built on flexible objects (people, companies, deals, users, workspaces, and custom objects), typed attributes, records, and lists. This specification covers the core data-model, activity, collaboration, and platform endpoints: objects, records, attributes, lists, list entries, notes, tasks, comments, threads, webhooks, workspace members, and token identification. All requests are authenticated with a Bearer access token (API key or OAuth) and scoped by granular permissions. Endpoints marked modeled in the repository review were derived from Attio''s published endpoint reference and follow Attio''s documented /v2 path conventions.'
  version: '2.0'
  contact:
    name: Attio
    url: https://attio.com
  license:
    name: Proprietary
    url: https://attio.com/legal
servers:
- url: https://api.attio.com/v2
  description: Attio REST API v2
security:
- bearerAuth: []
tags:
- name: Threads
  description: Threads of comments on records and list entries.
paths:
  /threads:
    get:
      operationId: listThreads
      tags:
      - Threads
      summary: List threads
      description: Lists threads of comments on a record or list entry.
      parameters:
      - name: record_id
        in: query
        schema:
          type: string
      - name: entry_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: A list of threads.
  /threads/{thread_id}:
    parameters:
    - name: thread_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getThread
      tags:
      - Threads
      summary: Get a thread
      description: Gets all comments in a thread.
      responses:
        '200':
          description: The requested thread with its comments.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio access token (API key or OAuth 2.0 bearer token) with the required scopes.
