openapi: 3.0.3
info:
  title: Attio REST Attributes Notes API
  description: 'The Attio REST API exposes the Attio CRM''s object/attribute/record data model over HTTPS. Attio is an AI-native CRM built on flexible objects (people, companies, deals, users, workspaces, and custom objects), typed attributes, records, and lists. This specification covers the core data-model, activity, collaboration, and platform endpoints: objects, records, attributes, lists, list entries, notes, tasks, comments, threads, webhooks, workspace members, and token identification. All requests are authenticated with a Bearer access token (API key or OAuth) and scoped by granular permissions. Endpoints marked modeled in the repository review were derived from Attio''s published endpoint reference and follow Attio''s documented /v2 path conventions.'
  version: '2.0'
  contact:
    name: Attio
    url: https://attio.com
  license:
    name: Proprietary
    url: https://attio.com/legal
servers:
- url: https://api.attio.com/v2
  description: Attio REST API v2
security:
- bearerAuth: []
tags:
- name: Notes
  description: Free-form notes attached to records.
paths:
  /notes:
    get:
      operationId: listNotes
      tags:
      - Notes
      summary: List notes
      description: Lists notes for all records or for a specific record.
      parameters:
      - name: parent_object
        in: query
        schema:
          type: string
      - name: parent_record_id
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
      - name: offset
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A list of notes.
    post:
      operationId: createNote
      tags:
      - Notes
      summary: Create a note
      description: Creates a new note for a given record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created note.
  /notes/{note_id}:
    parameters:
    - name: note_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getNote
      tags:
      - Notes
      summary: Get a note
      description: Gets a single note by its note_id.
      responses:
        '200':
          description: The requested note.
    delete:
      operationId: deleteNote
      tags:
      - Notes
      summary: Delete a note
      description: Deletes a note by its note_id.
      responses:
        '200':
          description: The note was deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio access token (API key or OAuth 2.0 bearer token) with the required scopes.
