openapi: 3.0.3
info:
  title: Attio REST Attributes List Entries API
  description: 'The Attio REST API exposes the Attio CRM''s object/attribute/record data model over HTTPS. Attio is an AI-native CRM built on flexible objects (people, companies, deals, users, workspaces, and custom objects), typed attributes, records, and lists. This specification covers the core data-model, activity, collaboration, and platform endpoints: objects, records, attributes, lists, list entries, notes, tasks, comments, threads, webhooks, workspace members, and token identification. All requests are authenticated with a Bearer access token (API key or OAuth) and scoped by granular permissions. Endpoints marked modeled in the repository review were derived from Attio''s published endpoint reference and follow Attio''s documented /v2 path conventions.'
  version: '2.0'
  contact:
    name: Attio
    url: https://attio.com
  license:
    name: Proprietary
    url: https://attio.com/legal
servers:
- url: https://api.attio.com/v2
  description: Attio REST API v2
security:
- bearerAuth: []
tags:
- name: List Entries
  description: Entries within a list, referencing a parent record.
paths:
  /lists/{list}/entries/query:
    parameters:
    - $ref: '#/components/parameters/List'
    post:
      operationId: listEntries
      tags:
      - List Entries
      summary: List entries
      description: Lists entries in a given list, with the option to filter and sort results.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: A page of list entries.
  /lists/{list}/entries:
    parameters:
    - $ref: '#/components/parameters/List'
    post:
      operationId: createEntry
      tags:
      - List Entries
      summary: Create an entry
      description: Adds a record to a list as a new list entry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The created list entry.
    put:
      operationId: assertEntry
      tags:
      - List Entries
      summary: Assert a list entry by parent
      description: Creates or updates a list entry, keyed by its parent record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The asserted list entry.
  /lists/{list}/entries/{entry_id}:
    parameters:
    - $ref: '#/components/parameters/List'
    - $ref: '#/components/parameters/EntryId'
    get:
      operationId: getEntry
      tags:
      - List Entries
      summary: Get a list entry
      description: Gets a single list entry by its entry_id.
      responses:
        '200':
          description: The requested list entry.
    patch:
      operationId: updateEntryAppend
      tags:
      - List Entries
      summary: Update a list entry (append multiselect values)
      description: Updates a list entry, appending values to multiselect attributes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated list entry.
    put:
      operationId: updateEntryOverwrite
      tags:
      - List Entries
      summary: Update a list entry (overwrite multiselect values)
      description: Updates a list entry, overwriting values on multiselect attributes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The updated list entry.
    delete:
      operationId: deleteEntry
      tags:
      - List Entries
      summary: Delete a list entry
      description: Deletes a list entry by its entry_id.
      responses:
        '200':
          description: The list entry was deleted.
components:
  parameters:
    List:
      name: list
      in: path
      required: true
      description: The list ID or slug.
      schema:
        type: string
    EntryId:
      name: entry_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio access token (API key or OAuth 2.0 bearer token) with the required scopes.
