openapi: 3.0.3
info:
  title: Attio REST Attributes Workspace Members API
  description: 'The Attio REST API exposes the Attio CRM''s object/attribute/record data model over HTTPS. Attio is an AI-native CRM built on flexible objects (people, companies, deals, users, workspaces, and custom objects), typed attributes, records, and lists. This specification covers the core data-model, activity, collaboration, and platform endpoints: objects, records, attributes, lists, list entries, notes, tasks, comments, threads, webhooks, workspace members, and token identification. All requests are authenticated with a Bearer access token (API key or OAuth) and scoped by granular permissions. Endpoints marked modeled in the repository review were derived from Attio''s published endpoint reference and follow Attio''s documented /v2 path conventions.'
  version: '2.0'
  contact:
    name: Attio
    url: https://attio.com
  license:
    name: Proprietary
    url: https://attio.com/legal
servers:
- url: https://api.attio.com/v2
  description: Attio REST API v2
security:
- bearerAuth: []
tags:
- name: Workspace Members
  description: Human users belonging to the workspace.
paths:
  /workspace_members:
    get:
      operationId: listWorkspaceMembers
      tags:
      - Workspace Members
      summary: List workspace members
      description: Lists all workspace members in the workspace.
      responses:
        '200':
          description: A list of workspace members.
  /workspace_members/{workspace_member_id}:
    parameters:
    - name: workspace_member_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getWorkspaceMember
      tags:
      - Workspace Members
      summary: Get a workspace member
      description: Gets a single workspace member by its ID.
      responses:
        '200':
          description: The requested workspace member.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Attio access token (API key or OAuth 2.0 bearer token) with the required scopes.
